@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap');

* {
    font-family: 'JetBrains Mono', monospace;
    background-color: #141414;
    margin: 0;
}

.aboutme {
    font-weight: 400;
    text-align: center;
    font-size: 25px;
    color: white;
    margin: auto;
    width: 50%;
    padding: 150px;
}

p {
    margin-top: 15px;
}

.aboutme h1::after {
  content: "";
  width: 8px;
  height: 31px;
  background: white;
  display: inline-block;
  margin-left: 8px;
}


@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.aboutme h1::after {
    
    animation: cursor-blink 1.5s steps(2) infinite;
}

